{% extends "admin/change_form.html" %}

{% block submit_buttons_bottom %}
    <div class="submit-row">
        <div style="text-align: left;">
            {% if  original.stream_contract_address %}
            <a href="{%url 'admin:streams_stream_events' original.id %}" class="btn btn-info"
            style="display: inline-block;
                background: #609ab6;
                border-radius: 4px;
                padding: 10px 15px;
                height: 15px;
                width: 75px;
                line-height: 15px;
                text-align: left;
                color: #fff;">Blockchain</a>
            {% endif %}
            {% if  original.can_be_started %}
                <a href="{%url 'admin:streams_stream_start' original.id %}" class="btn btn-success"
                style="display: inline-block;
                background: #609ab6;
                border-radius: 4px;
                padding: 10px 15px;
                height: 15px;
                width: 75px;
                line-height: 15px;
                text-align: left;
                color: #fff;">Start</a>
            {% endif %}
            {% if  original.can_be_stopped %}
                <a href="{%url 'admin:streams_stream_stop' original.id %}" class="btn btn-success"
                style="display: inline-block;
                background: #609ab6;
                border-radius: 4px;
                padding: 10px 15px;
                height: 15px;
                width: 75px;
                line-height: 15px;
                text-align: left;
                color: #fff;">Stop</a>
            {% endif %}
        </div>

    </div>

    {{ block.super }}

{% endblock %}